<link href="https://fonts.cdnfonts.com/css/pricedown" rel="stylesheet">
<div  class="container">
    <div class="divimg pt-3">
      <img src="../assets/img/logop.jpg" class="img-fluid" width="350px">
    </div>
      <img src="../assets/img/pika.png" class="img-fluid" width="200px">
  </div>
  <div class="pokemon-testo">
    <p>
        Nella pittoresca regione di Unima, dove l'aria è sempre piena di avventure e di sorprese,
         si era diffusa una strana voce. I Pokémon, amici fedeli degli abitanti, sembravano comportarsi in modo strano,
          agitati e fuori controllo avevano inizatto a commettere atti criminali. 
          L'origine di questo strano comportamento si celava dietro un misterioso fungo magico... 
    </p>
</div>